<h2 class="text-center">VIEW TECHNICIAN PAGE</h2>
<div class="container">
    <div class = "card col-md-6 offset-md-3" style="background-color: gray;" >
        <div class = "card-body">
         
              
<div class = "row" >
        <b>TECHNICIAN ID  :</b> <p>{{technician.techID}}</p>
</div>
<div class = "row">
    <b>FIRST NAME :</b><p>{{technician.name}}</p>
</div>
<div class = "row" >
    <b>PHONE NUMBER :</b><p>{{technician.number}}</p>

</div>

<div class = "row" >
    <b>EMAIL-ID :</b><p>{{technician.email}}</p>
</div>
<div class = "row" >
    <b>GENDER :</b><p>{{technician.gender}}</p>
</div>
<div class = "row">
    <b>PERMANENT ADDRESS :</b><p>{{technician.permanentAddress}}</p>
</div>
<div class = "row">
    <b>COMMUNICATION ADDRESS :</b><p>{{technician.communicationAddress}}</p>
</div>


    </div>

   
</div>
<button class="btn btn-primary" style="margin-left: 45%; margin-top: 2%;" (click)=goToListPage()>VIEW LIST</button>
</div>