
    <h2 class="text-center">REGISTRATION PAGE</h2>
    <div class="registration-page">
    <div class = "card col-md-6 offset-md-3 offset-md-3">
      
           <div class = "card-body">
                       <form (ngSubmit)="onSubmit()"  ngNativeValidate class="form">

                      
                       
                           <div class = "form-group">
                               <label> Full Name: </label>
                               <input type="text" placeholder=" Full Name" name="fullName" class="form-control" 
                                  id="fullName"  [(ngModel)] = "technician.name" required/>
                               <!--   <div class="error" ><b>{{ fullnameError }}</b></div>-->
                           </div>
                          
                           <div class = "form-group">
                               <label> Email Id: </label>
                               <input type="email"  placeholder="Email Address" name="emailID" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" class="form-control" 
                                  id="emailID" [(ngModel)] = "technician.email"  required  />
                                <!--  <div class="error" ><b>{{ emailIdError }}</b></div>  -->  
                           </div>

                           <div class = "form-group">
                               <label> Phone Number: </label>
                               <input placeholder="Number" name="phoneNumber" class="form-control" 
                                   id="phoneNumber" [(ngModel)] = "technician.number"  maxlength="10" minlength="10"  />
                                 <!--   <div class="error" ><b>{{ numberError }}</b></div> -->
                           </div>

                           <div class = "form-group">
                               <label> Gender: </label>
                               <input type="text" placeholder="Gender" name="Gender" class="form-control" 
                                 id="Gender" [(ngModel)] = "technician.gender" required/>
                               <!--  <div class="error" ><b>{{ genderError }}</b></div>-->
                                   
                           </div>

                           <div class = "form-group">
                               <label> Permanent Address: </label>
                               <input type="text" placeholder="Permanent Address" name="permanentaddress" class="form-control" 
                                   id="permanentaddress" [(ngModel)] = "technician.permanentAddress" required/>
                                <!--   <div class="error" ><b>{{ permanentAddressError }}</b></div>-->
                                 
                           </div> 

                           <div class = "form-group">
                               <label> Communication Address: </label>
                               <input type="text"  placeholder="Communication Address" name="communicationaddress" class="form-control" 
                                   id="communicationaddress" [(ngModel)] = "technician.communicationAddress" required />
                                  <!-- <div class="error" ><b>{{ communicationaddressError }}</b></div>-->
                           </div> 

                           <div class = "form-group">
                               <label> Password: </label>
                               <input type="password" placeholder="Password" name="password" class="form-control" 
                                   id="password" [(ngModel)] = "technician.password"  minlength="5"  required  />
                                  <!-- <div class="error" ><b>{{ passwordError }}</b></div>  -->         
                          
                           </div>
                           <button class = "btn btn-success" type ="submit">Save</button>
                           <button class="btn btn-danger" style="margin-left: 5px;" (click)=goToHomePage()>Cancel</button>
                          
                      
                       </form>
                   </div>
                  
</div>
</div> 







