



<div>
                        
    <h2 class="text-center">FORGOT PASSWORD PAGE</h2> 
    <div class = "card col-md-6 offset-md-3 offset-md-3">
    <form style="margin-top: 5px" #forgotpassForm="ngForm" (ngSubmit)="forgotpassForm.form.valid && onSubmit() ">
                             
                                <div class="form-group"  [class.has-error]="techID.invalid && techID.touched" >
                                 <label> TechID: </label>
                                 <input placeholder=" Technician ID" name="techID" class="form-control" 
                                 id="techID" [(ngModel)] = "technician.techID" #techID="ngModel"  required/>
                                <!-- <div class="error" ><b style="color: red;">{{ idError }}</b></div>   -->
                            
                             <div><span class="help-block"  *ngIf="techID.invalid && techID.touched"><b style="color: red;">
                                Technician-id  is a required field</b>
                             </span></div>             
                        </div>

                             <div class = "form-group">
                                 <label> Enter New Password: </label>
                                 <input type= "password" placeholder=" New Password" name="password" class="form-control" 
                                 id="password" [(ngModel)] = "technician.password" minlength="6" #password="ngModel" required />
                                 <span class="text-danger" *ngIf="password.errors?.minlength"> Password must have atleat 6 character</span>
                                 <div class="error" ><b style="color: red;">{{ passwordError }}</b></div>      
                               
                             </div>

                             <div class = "form-group">
                                 <label> Confirm New Password: </label>
                                 <input type= "password" placeholder="Confirm Password" name="confirmPassword" class="form-control" 
                                  id="confirmPassword"  pattern="{{technician.password}}"  [(ngModel)] = "technician.confirmpassword" #confirmpass="ngModel"  required/>
                                  <span class="text-danger" *ngIf="forgotpassForm.submitted && confirmpass.errors?.pattern"><h5>Passwords don't match</h5> </span> 
                                    
                             </div>





                             <button class="btn btn-success" type ="submit">Submit</button>
                             <button class="btn btn-danger"  style="margin-left: 10px" (click)="goToLoginPage()">Cancel</button>
                            
                         </form>
                        
                         <div class="alert alert-danger text-center" style="margin-top:2%">
                            <div class="error" ><b>{{ error }}</b></div>
                        </div>
    </div>


         
    
 </div>
 